[submodule "themes/next"]
	path = themes/next
	url = https://github.com/titaneric/hexo-theme-next.git
[submodule "hexo-theme-next"]
	path = hexo-theme-next
	url = https://github.com/titaneric/hexo-theme-next.git
